# dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Vercel project settings
/.vercel

# local environment files
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
